.btnGeneralStyles {
  display: inline-block;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 0;

  //height: 40px;
  //padding: 12px 17px;
  //border-radius: 50px;
  //background-color: #2222220d;
  //color: #222;
  //font-size: 16px;
  //:hover {
  //  background-color: #2222221a;
  //}

  //display: inline-block;
  //outline: 0;
  //border: none;
  //cursor: pointer;

  //height: 32px;
  //padding: 0px 16px;

  //border-radius: 50px;

  //background-color: #2222220d;
  //color: #222;
  //font-size: 12px;
  //font-weight: 500;
  //:hover {
  //  background-color: #2222221a;
  //}
}

.small {
  height: 2em;
  padding: 1em;
  font-size: 1em;
}

.large {
  height: 2.5em;
  padding: 1.2em;
  font-size: 1.2em;
}

.Primary {
  background-color: var(--light-beige-100);
  color: var(--teal-cyan-100);
  &:hover {
    background-color: var(--light-beige-20);
    color: var(--light-beige-100);
    outline: 1px solid var(--light-beige-100);
  }
}

.Search {
  background-color: transparent;
  border: 1px solid var(--dark-orange-100);
  color: var(--dark-orange-100);
  &:hover {
    background-color: var(--light-beige-20);
    color: var(--light-beige-100);
    outline: 1px solid var(--light-beige-100);
  }
}
