* {
  box-sizing: border-box;
}

body,
head,
#root {
  margin: 0;
  height: 200vh;
  font-family: "Optima", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Color variables */
  --dark-orange-100: rgba(226, 125, 96, 1);
  --light-cyan-100: rgba(133, 205, 203, 1);
  --light-orange-100: rgba(232, 168, 124, 1);
  --pale-orchide-100: rgba(195, 141, 158, 1);
  --teal-cyan-100: rgba(65, 179, 163, 1);
  --light-beige-100: rgba(255, 250, 243, 1);
  --light-beige-20: rgba(255, 250, 243, 0.2);
}

h1 {
  margin: 0;
  padding: 0;
}
